node_modules
.idea
tmp
admin/i18n/flat.txt
admin/i18n/*/flat.txt
iob_npm.done
.vs/
*.tgz

/src-widgets/build
/src-widgets/node_modules
/src-widgets/.__mf__temp/
/widgets


# ioBroker dev-server
.dev-server/
/build/

#ignore .commitinfo created by ioBroker release script
.commitinfo
/src-devices/build/
/src-devices/.__mf__temp/
/src-admin/build/
/src-admin/.__mf__temp/
